.Carrito{
    display: flex;
    align-items: center;
}
.CarritoNum{
    margin-bottom: 0;
}
.navbar{
    background-color: #ce9ffa !important;
}
.btnLogin{
    margin-left: 10px;
}

.itemListContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}